<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assests/logo.png">
    <link rel="stylesheet" href="/stylsheets/home.css">
    <title>SAA</title>
</head>
<body>
    <%- include('./home/nav') %>
    <%- include('./home/carousel') %>
</body>
</html>



alumni articles
contact us
team insta linkdenin



distinguished alumni
alumni in news
alumni network
visit the campus
